---
import Layout from "@/layouts/Layout.astro";
import { BookCard, Container } from "@/lib/components";
import type { BookEntry } from "@/types";

interface LibraryProps {
  books: BookEntry[];
}

const { books } = Astro.props as LibraryProps;
---

<Layout title="Upasana">
  <Container>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        books.map((book) => (
          <BookCard
            id={book.id}
            title={book.data.title}
            titleDevanagari={book.data.titleDevanagari}
            description={book.data.description}
            author={book.data.author}
            coverImage={book.data.coverImage}
            client:load
          />
        ))
      }
    </div>
  </Container>
</Layout>
